* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222;
    min-height: 75px;
}

.menu-list {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.promoimg {
    height: 765px;
    width: 800px;
    background-image: url(../img/Rectangle.png);
}

.proimg {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.promo {
    width: 100%;
    background-color: #F1E4E6;
    height: 764px;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-text-block {
    width: 50%;
    padding-left: 65px;
    display: flex;
}

.slidertitle {
    font-size: 48px;
    padding-left: 16px;
    font-family: Lato;
    font-weight: 900;
    line-height: 30px;
    margin-top: 10px;
}

.slidertext {
    font-size: 30px;
}

.redtext {
    color: #F16D7F;
}

.textborder {
    height: 80px;
    width: 12px;
}

.offer-block {
    margin-top: 64px;
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offer1 {
    width: 360px;
    height: 260px;
    background-color: grey;
    background-image: url(../img/Group1.png);
}

.offer2 {
    width: 360px;
    height: 260px;
    background-color: grey;
    background-image: url(../img/Group2.png);
}

.offer3 {
    width: 360px;
    height: 260px;
    background-color: grey;
    background-image: url(../img/Group3.png);
}

.offer4 {
    width: 100%;
    height: 180px;
    background-color: grey;
    background-image: url(../img/Group4.png);
    align-self: flex-end;
}

a {
    text-decoration: none;
}

.offertext {
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    margin-top: 120px;
    color: white;
}

.offertext2 {
    margin-top: 75px;
}

.offertitle {
    text-decoration: none;
    font-family: Lato;
    font-size: 24px;
    line-height: 10px;
    text-align: center;
    color: #F16D7F;
}

.products-block {
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}


.featured-items {
    width: 100%;
}

.featured-title {
    font-family: Lato;
    font-size: 30px;
    line-height: 0px;
    color: #222222;
    text-align: center;
}

.featuredtext {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.product {
    height: 580px;
    width: 360px;
}

.products-buy {
    width: 100%;
    height: 420px;
    opacity: 0;
    position: relative;
    z-index: 2;
}


.products-buy:hover {
    width: 100%;
    height: 420px;
    background-color: #000000;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}



.kart-text {
    font-family: Lato;
    font-size: 15px;
    line-height: 17px;
    margin-left: 10px;
    color: white;
}

.kart-button {
    width: 140px;
    height: 44px;
    outline: solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.productsimg1 {
    width: 100%;
    height: 420px;
    margin-bottom: -5px;
}

.productstext {
    width: 100%;
    height: 160px;
    background-color: #F8F8F8;
    padding-top: 25px;
}

.product-name {
    font-family: Lato;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-left: 18px;
}

.product-description {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-left: 18px;
}

.product-price {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 18px;
}

.button-block {
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.button {
    height: 48px;
    width: 212px;
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
    border-color: #F26376;
}

.button:hover {
    color: white;
    background-color: #F26376;
}

.feature-block {
    background: #222224;
    height: 341px;
    margin-top: 95px;
}

.featureall {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
}

.feature_title {
    font-family: Lato;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
}


.feature_text {
    font-family: Lato;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.feature-icons {
    margin-left: 44%;
}

.feature {
    Width: 360px;
    Height: 134px;
}

.subscribe-block {
    background-image: url(../img/Layer.png);
    background-size: 100%;
}

.subscribe-block2 {
    height: 450px;
    background: rgba(244, 244, 244, 0.7);
    display: flex;
}

.subscribe-info {
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    width: 360px;
    height: 225px;
}

.subimg {
    width: 96px;
    margin-left: 35%;
}

.italic,
.subtext {
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 40px;
}

.italic {
    font-style: italic;
}

.subscribe {
    width: 560px;
    min-height: 142px;
}

.subtitle {
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #222224;
    margin-top: 35px;
}

.subtitle2 {
    font-family: Lato;
    font-size: 18px;
    text-align: center;
    color: #222224;
    margin-top: -15px;
}

.subscription_area {
    margin-left: 50%;
    width: 360px;
    height: 50px;
}

.areatext {
    width: 300px;
    height: 50px;
    margin-left: 80px;
    border-radius: 25px 0px 0px 25px;
    background-color: #E1E1E1;
    padding-left: 20px;
    font-family: Lato;
    font-size: 14px;
    color: #222224;
    opacity: 0.67;
    outline: none;
    border: none;
}

.butsub {
    width: 100px;
    height: 50px;
    margin-left: -5px;
    border-radius: 0px 25px 25px 0px;
    background-color: #F16D7F;
    color: white;
    font-family: Lato;
    font-size: 14px;
    outline: none;
    border: none;
}

.butsub:active {
    width: 100px;
    height: 50px;
    margin-left: -5px;
    border-radius: 0px 25px 25px 0px;
    background-color: white;
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    border: none;
}

.footer {
    width: 100%;
    min-height: 80px;
    background-color: #222224;
}

.footer1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.copy {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: 35px;
}

.social-links {
    width: 144px;
    display: flex;
    margin-top: 24px;
}

.link-icon {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    background: #FFFFFF;
    padding: 10px;
    margin: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-icon:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}

.nav-catalog {
    height: 148px;
    width: 100%;
    background-color: #F8F3F4;
}

.bread-text {
    font-family: Lato;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.bread-adress {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.bread-adress-active {
    color: #F16D7F;
}


.products-catalog {
    height: 1804px;
    margin-top: inherit;
}

.nav-catalog-selection {
    height: 148px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-block {
    height: 100px;
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting {
    display: flex;
    width: 305px;
    justify-content: space-between;
}

.sorting-button {
    border: none;
    background: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    border: none;
    outline: none;
}

.pagination-button,
.filter-button {
    border: none;
    background: none;
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
}

.pagination-button {
    padding-top: 3px;
}

.sorting-vector {
    margin-left: 10px;
}

.catalog-button-block {
    width: 284px;
    height: 44px;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 425px;
    margin-top: 48px;
}

.pagination {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;
}

.pagination-active {
    color: #EF5B70;
}


.product_slider_block {
    height: 777px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_pagination_button {
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product_description {
    height: 600px;
    border: 1px solid #EAEAEA;
    margin-top: -75px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    margin-bottom: 130px;
}

.products-product {
    height: 580px;
    margin-bottom: 130px;
}

#product-slider {
    align-self: flex-start;
}

.button_arrow {
    width: 12.5px;
    height: 21.7px;
}

.product_colection {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #F16D7F;
    margin-top: 64px;
}

.divider {
    width: 63px;
    border: 3px solid #EF5B70;
    margin: 0 auto;
}

.product_name {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #4D4D4D;
}

.product_description_text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 48px;
}

.product_price {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #EF5B70;
    margin-top: 32px;
    margin-bottom: 65px;
}

.divider2 {
    width: 640px;
    border: 1px solid #EAEAEA;
    margin: 0 auto;
    margin-bottom: 65px;
}

.product_sorting {
    margin: 0 auto;
}

.product_button {
    width: 212px;
    height: 48.5px;
    margin-top: 48px;
}

.sorting2 {
    margin: 0 auto;
    width: 380px;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2:hover {
    color: #F26376;
    background-color: white;
}

#product-cart {
    margin-right: 22px;
    width: 26px;
    height: 24px;
}

.cart_block {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 128px;
}

.cart_col1 {
    width: 652px;
    height: 770px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart_col2 {
    width: 360px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart_card {
    background-color: #FFFFFF;
    height: 306px;
    width: 100%;
    display: flex;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.cart_card_image {
    height: 307px;
    width: 262px;
}

.cart_card_text_block {
    width: 262px;
    margin-left: 31px;
}

.cart_card_name {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 20px;
}

.cart_card_text {
    font-family: Lato;
    font-size: 22px;
    line-height: 6px;
    color: #575757;
}

.cart_card_price {
    color: #F16D7F;
}

.quantity_button {
    background: none;
    border: 1px solid #EAEAEA;
    outline: none;
    width: 43px;
    height: 24px;
    margin-left: 24px;
}

.card_delete {
    margin-left: 60px;
    background: none;
    border: none;
    outline: none;
    align-self: flex-start;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
    color: #575757;
}

.cart_button {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 225px;
    height: 50px;
    border: 1px solid #A4A4A4;
    background: none;
    outline: none;
}

.shipping_block {
    width: 652px;
    height: 272px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shipping_title {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}


.shipping_area {
    width: 100%;
    height: 45px;
    border: 1px solid #A4A4A4;
    font-family: Lato;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    padding-left: 17px;
    outline: none;
}

.shipping_button {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    background: none;
    outline: none;
    width: 100px;
    height: 34px;
    color: #4A4A4A;
}

.submit_block {
    width: 100%;
    height: 214px;
    background: #F5F3F3;
}

.sub_total {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    margin-left: 218px;
    margin-top: 39px;
}

.sub_total_price {
    margin-left: 30px;
}

.grand_total {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-left: 153px;
    margin-bottom: 21px;
}

.grand_total_price {
    margin-left: 30px;
    color: #F16D7F;
}

#divider_cart {
    width: 275px;
    background: #E2E2E2;
    border: none;
    height: 1px;
    margin-bottom: 17px;
}

.checkout {
    width: 273px;
    height: 50px;
    margin-left: 44px;
    outline: none;
    border: none;
    background: #F16D7F;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}